@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@500;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root {
    --color-dark50:#3D4145;
    --color-dark70:#21272e;
    --color-dark90:#151A1F;

    --color-light1:#ff6a00;
    --fontone: 'Poppins', sans-serif;
    --fonttwo: 'Fraunces', serif;
    --fontthree:'Barlow', sans-serif;
}
html {
    font-size:62.5%;
}
body {
    background-color: var(--color-dark70)
}
/* início header */
header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: var(--color-dark90);    
    padding:20px 13%;
    z-index:1000;
    
    
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1440px;
}
.ul-bars {
    display: flex;    
    list-style: none;
    gap: 2rem;
    position: absolute;
    right:50px
    
       
}
ul .ul-bars li {
    position:relative;    
    padding:10px;    
}

.ul-bars li a{
    font-size: 1.6rem;
    text-transform: uppercase;      
}
.ul-bars li a:hover{
    color:var(--color-light1); 
       
}
.bar-icon {
    color:#fff;
    font-size: 2rem;
    display: none;;
}
nav .nav-bar {
    position: relative;
}
nav .nav-bar li {
    position: absolute;
    right:180px;
}
.nav-bar a {
    font-family: var(--fontthree);
    color:#fff;
    font-size:2.3rem;
    text-decoration:none;    
}

.nav-bar span {
    color:var(--color-light1);
}
.on i {    
    color:var(--color-light1);
    font-size: 2.3rem;
    position: absolute;
    top:5px
}
/* fim header */

/* início banner */
.banner {
    position:relative;
    width:100%;
    min-height:100vh;
}
.imgbx {    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.imgbx img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition: 0.5s;
    background-position: center;
    /* background-size: cover; */
}
.imgbx img.ativo {
    opacity:1;
}
.controle {
    position:absolute;
    top:50%;
    right:0;
    width:80px;
    height:auto;
      
}
.controle li  {    
     
    background-color: #ff6a00;
    position:relative;
    width:80px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    border-radius:  
}
.controle li:hover {
    background-color: var(--color-dark50);
    
}
.controle li:before {
    content: '';
    position:absolute;
    width:20px;
    height:20px;
    border-left:3px solid #111;
    border-bottom:3px solid #111;
    transform:rotate(45deg);
}
.controle li:nth-child(2):before {
    transform:rotate(-135deg);
}

 /*.controle  i {
    position: absolute;
    top:50%;
    right: 0;
    font-size:18px;
    color:#fff;
     */
    
    
    
}


/* final banner */